body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #0ea5e9;
    display: flex;
    margin: 0;
}
.sidebar {
    width: 25%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    height: 100vh;
    text-align: center;
}
.sidebar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.main-content {
    margin-left: 30%;
    padding: 20px;
    width: 60%;
}
video, img {
    max-width: 100%;
    display: block;
    margin: auto;
}
